<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <header>
        <h1>About</h1>
        <div>
            <a href="/">Weather</a>
            <a href="about">About</a>
            <a href="help">Help</a>
        </div>
    </header>
    <img src="img/dp1.jpg">
    <footer>
        <p>Created By Nathiya</p>
    </footer>
</body>
</html>