<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help Pages</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <header>
        <h1>Help</h1>
        <div>
            <a href="/">Weather</a>
            <a href="about">About</a>
            <a href="help">Help</a>
        </div>
    </header>
        <p>Some Useful Information</p>
        <footer>
            <p>Created By Nathiya</p>
        </footer>
</body>
</html>